In [1]:
import pandas as pd 
import numpy as np

In [7]:
#Read in the data
columns = ["review_id", 
           "star_rating", 
           "helpful_votes", 
           "total_votes", 
           "vine", 
           "verified_purchase"]
vine_data_df = pd.read_csv("vine_table.csv", names=columns)

In [8]:
#Verify columns
vine_data_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R203HPW78Z7N4K,5,0,0,N,Y
1,R2EAIGVLEALSP3,5,1,1,N,Y
2,R1K1CD73HHLILA,5,0,0,N,Y
3,R2KZBMOFRMYOPO,5,1,1,N,Y
4,R6BIZOZY6UD01,5,0,0,N,Y

In [9]:
#Filter for total votes >= 20
vine_df_filtered_total_votes = vine_data_df.loc[(vine_data_df['total_votes'] >= 20)]
vine_df_filtered_total_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
34,R1QXNQBTH7LIUB,3,9,22,N,Y
99,R3BC75VKJK6LNV,4,83,89,N,Y
170,R5XKK92G5N9FU,1,18,22,N,N
171,RYMOWYW38WKOB,5,35,35,N,N
304,RYHZAVESD0T37,1,39,45,N,Y

In [10]:
#Filter for helpful_votes/total_votes >= 0.50
vine_df_filtered_votes_ratio = vine_df_filtered_total_votes.loc[(
    vine_df_filtered_total_votes["helpful_votes"] >= 
    vine_df_filtered_total_votes["total_votes"]/2)]
vine_df_filtered_votes_ratio.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
99,R3BC75VKJK6LNV,4,83,89,N,Y
170,R5XKK92G5N9FU,1,18,22,N,N
171,RYMOWYW38WKOB,5,35,35,N,N
304,RYHZAVESD0T37,1,39,45,N,Y
328,R19Y5VBOF3BQOG,1,26,35,N,Y

In [11]:
final_df_vine = vine_df_filtered_votes_ratio.loc[(vine_df_filtered_votes_ratio["vine"]=="Y")]
final_df_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
10115,R20O97P5V9CZ21,3,21,27,Y,N
24076,RCNB7YGLWKCV5,5,23,30,Y,N
25487,RX1ZUVGBH3HKC,5,814,848,Y,N
26003,RRS5AGL10DYU3,3,25,29,Y,N
26213,R5YFC5G8V2B3I,5,104,117,Y,N

In [12]:
final_df_no_vine = vine_df_filtered_votes_ratio.loc[(vine_df_filtered_votes_ratio["vine"]=="N")]
final_df_no_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
99,R3BC75VKJK6LNV,4,83,89,N,Y
170,R5XKK92G5N9FU,1,18,22,N,N
171,RYMOWYW38WKOB,5,35,35,N,N
304,RYHZAVESD0T37,1,39,45,N,Y
328,R19Y5VBOF3BQOG,1,26,35,N,Y

In [13]:
final_df_vine['star_rating'].value_counts()

5    18
4    13
3     3
2     1
Name: star_rating, dtype: int64

In [31]:
vine_five_star_percentage = (final_df_vine.loc[(final_df_vine['star_rating'] == 5)].
                        count().loc['star_rating'])/final_df_vine.size*100

In [32]:
non_vine_five_star_percentage = (final_df_no_vine.loc[(final_df_no_vine['star_rating'] == 5)].
                        count().loc['star_rating'])/final_df_no_vine.size*100

In [38]:
total_non_vine_reviews = final_df_no_vine.size
total_vine_reviews = final_df_vine.size
total_non_vine_five_star = final_df_no_vine.loc[(final_df_no_vine['star_rating'] == 5)].count().loc['star_rating']
total_vine_five_star = final_df_vine.loc[(final_df_vine['star_rating'] == 5)].count().loc['star_rating']
print("Total number of reviews for paid vine users: " + str(total_vine_reviews))
print("Total number of 5-star reviews for paid vine users: " + str(total_vine_five_star))
print("Percentage of five star reviews paid vine users: " + str(vine_five_star_percentage))
print("--------------------")
print("Total number of reviews for unpaid vine users: " + str(total_non_vine_reviews))
print("Total number of 5-star reviews for unpaid vine users: " + str(total_non_vine_five_star))
print("Percentage of five star reviews for unpaid vine users: " + str(non_vine_five_star_percentage))

Total number of reviews for paid vine users: 210
Total number of 5-star reviews for paid vine users: 18
Percentage of five star reviews paid vine users: 8.571428571428571
--------------------
Total number of reviews for unpaid vine users: 29742
Total number of 5-star reviews for unpaid vine users: 1963
Percentage of five star reviews for unpaid vine users: 6.6000941429628135